[project]
name = "astroviper"
version = "0.0.14"
description = "Astro Visibility and Image Parallel Execution Reduction"
authors = [
    {name = "Jan-Willem Steeb", email="jsteeb@nrao.edu"},
]
license = {file = "LICENSE.txt"}
readme = "README.md"
requires-python = ">= 3.9, < 3.13"

dependencies = [
'astropy',
'dask',
'distributed',
'gdown',
'graphviper',
'matplotlib',
'numba>=0.59.0',
'numpy',
'prettytable',
'pytest',
'pytest-cov',
'pytest-html',
'scipy',
'xarray',
'zarr',
'bokeh',
'jupyterlab',
'pyarrow',
'graphviz',
'xradio',
'python_casacore>=3.6.1; sys_platform != "darwin" ',
'ipympl'
]


[project.optional-dependencies]
docs = [
    'ipykernel',
    'ipympl',
    'ipython',
    'jupyter-client',
    'nbsphinx',
    'recommonmark',
    'scanpydoc',
    'sphinx-autoapi',
    'sphinx-autosummary-accessors',
    'sphinx_rtd_theme',
    'twine',
    'pandoc'
]
